:root {
    --clear: #ffffff00;
    --essBlack: #0C0C0C;
    --essDarkGray: #434343;
} 

body{
    margin: 0;
    height: 100%;
    width: 100%;
    background: url(../Main/BGPattern.png) repeat;
}

main{
    position: relative;
    top: 16vmin;
    left: 0px;
    width: auto;
    height: auto;
    margin-bottom: 20vh;
}

p{
    color: white;
    font-size: 4vmin;
    margin-left: 5vmin;
    margin-right: 5vmin;
}

.BGPoster{
    width: 100vmin;
}

.linkLine{
    color: white;
    border-width: 3px;
    border-style: solid;
    margin: 70px;
}

.linktext{
    color: white;
    font-size: 10vmin;
    text-align: center;
    width: 50vmin;
    border-radius: 5vmin;
    margin: auto;
}

.linktext:hover{
    background-color: white;
    color: var(--essBlack);
}

.ContextArea{
    margin-left: 7vmin;
    margin-right: 7vmin;
}

.textTitle1{
    margin-top: 8vmin;
    color: white;
    font-size: 8vmin;
}

.TitleUnderline{
    color: white;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 70px;
}

li{
    color: white;
    font-size: 4vmin;
    margin-left: 5vmin;
    margin-right: 5vmin;
}