:root {
    --clear: #ffffff00;
    --essBlack: #0C0C0C;
    --essDarkGray: #434343;
} 

footer{
    background-color: var(--essDarkGray);
    width: 100vw;
    height: 8vh;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
}

.footerContext{
    margin: auto;
}

.twitter{
    background-color: rgb(45, 211, 241);
    width: 4vh;
    padding: 10px;
    border-radius: 100%;
    display: inline-flex;
    margin-right: 10vw;
}

.twitter:hover{
    cursor: pointer;
  }

.KCCTMark{
    background-color: #e6e6e6;
    width: 4vh;
    padding: 10px;
    border-radius: 100%;
    display: inline-flex;
    margin-right: 10vw;
}

.KCCTMark:hover{
    cursor: pointer;
  }

.github{
    background-color: white;
    width: 4vh;
    padding: 10px;
    border-radius: 100%;
    display: inline-flex;
}

.github:hover{
    cursor: pointer;
  }